*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face { 
    font-family: 'westsac';
    src: url("fonts/westsac.ttf") format('ttf');
    }

/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
    --main-color: white;
    --main-color2: #f4e3b7;
}



/*********************/
/*  General Styling  */
/*********************/

body {
    overflow-x: hidden;

    height: 100%;
}

h1 {
    font-family: "allotrope-heavy", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 2rem;
    color: var(--main-color);
}

h2 {
    font-family: "allotrope-heavy", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 3rem;
    color: var(--main-color1);
}

p {
    font-family: "allotrope-regular", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    opacity: 65%;
    line-height: 1.5em;
}

a {
    text-decoration: none;
    font-family: "noto-mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    text-transform: uppercase;
    color: black;
}
/* 
section {
    display: grid;
    place-items: center; 
    min-height: 100vh;
    padding: 2.5em; 
} */

.hidden {
    opacity: 0%;
    transition: all 1s;
    filter: blur(2px);
    transform: translateY(20%);
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

.show {
    opacity: 100%;
    filter: blur(0);
    transform: translateY(0);
}

.test:nth-child(2) {
    transition-delay: 200ms;
}

.test:nth-child(3) {
    transition-delay: 400ms;
}

.test:nth-child(4) {
    transition-delay: 600ms;
}

/******************/
/*     Header     */
/******************/

header {
    min-width: 100vw;
    position: sticky;
    top: 0;
    background-image: linear-gradient(rgb(0,0,0,0.8)20%, rgb(0,0,0,0));
    height: fit-content;
    padding: 1.3em;
    z-index: 100;
    display: none;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 2em;
    align-items: center;
    justify-content: flex-end;
    padding-right: 2em;
    padding-top: 1em;
}

header nav ul a {
  color: var(--main-color);
}

#menu {
  width: 2.5em;
  position: absolute;
  right: 3em;
  top: 3em;
  display: none;
  cursor: pointer;
  z-index: 21;
}

.nav-a {
  width: 4.5em;
  transition: .2s;
}

.nav-a:hover {
  transform: scale(1.1);
}

@media(max-width: 700px) {
  #menu {
    display: block;
  }

  header nav ul {
    transform: translateX(1000px);
    flex-direction: column;
    background-color: white;
    transition: .2s;
    height: 100vh;
    justify-content: center;
    gap: 3em;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 20;
  }

  .nav-a {
    width: 10em;
  }

}

.toonmenu {
  transform: translateX(0);
}

/******************/
/*  Landing page  */
/******************/

#landing header {
  background-image: linear-gradient(rgb(255,255,255,0.5)20%, rgb(255,255,255,0));
}

#front-page {
  background-color: white;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
}

#layer1 {
  max-width: 57em;
  min-width: 40em;
  position: absolute;
  left: -5em;
  bottom: 0;
}

.logo {
  max-width: 33em;
  min-width: 16em;
  position: absolute;
  top: 5%;
  left: 15.5em;
  transition: .2s;
}

@media (max-width: 600px) {
  #layer1 {
    left: -2em;
  }
}

@media (max-width: 750px) {
  .logo {
    max-width: 20em;
    top: 28%;
    left: 6em;
  }
}

.landing-a {
  position: absolute;
}

#work {
  max-width: 13em;
  top: 77%;
  left: 29.5%;
  cursor: pointer;
  transition: .2s;
}

#about {
  width: 25%;
  top: 0%;
  right: 0%;
  cursor: pointer;
  transition: .2s;
}

#work:hover,
#about:hover {
  transform: scale(1.1);
}

@media (max-width: 700px) {
  #about {
    width: 44%;
  }

  #work {
    width: 9em;
    top: 85%;
    left: 57%;
  }
}

#landing main section:first-of-type {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

#work-section {
  min-height: 100vh;
  background-color: white;
}

#logo-header {
  width: 4.5em;
  position: absolute;
  top: 2em;
  left: 3.5em;
}



/************/
/*  Werken  */
/************/

/* #werken h1 {
  text-align: center;
  margin-bottom: 1em;
  position: absolute;
} */

#werk {
  width: fit-content;
  margin-inline: auto;
}

.kruis {
  width: 1.5em;
  position: sticky;
  left: 100%;
  margin-right: 2.5%;
  top: 6.3em;
  display: none;
  cursor: pointer;
  z-index: 16;
}

#uitelkaar-thumb {
  cursor: pointer;
  width: 30em;
  transition: .2s;
}

@media (max-width: 600px) {
  #uitelkaar-thumb {
    width: 20em;
  }
}

#uitelkaar-thumb:hover {
  transform: skew(-3deg);
}

#uitelkaar-project {
  display: none;
  z-index: 15;
  margin-top: -23em;
  margin-right: 7%;
  transform: translateX(-1200px);
}







/******************/
/*  Big Brother   */
/******************/

#bb section:first-of-type {
    background-color: var(--main-color2);
}

#bb section:nth-of-type(2) {
    background-color: var(--main-color);
    padding-top: 12em;
}

#bb-overgang {
    max-width: 100%;
    margin-bottom: -1em;
}

#bb-section {
    display: flex;
    flex-wrap: wrap;
    gap: 5em;
    margin-top: 10em;
    padding-bottom: 10em;
    min-height: 100vh;
}

#bb-titel {
    display: flex;
}

#bb-h2 {
    max-width: 400px;
    color: var(--main-color2);
    font-family: "westsac", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
} 

#naarRechts {
    margin-left: 2em;
}

#bb-oog {
    position: relative;
    margin-top: 3em;
}

#oog {
    width: 14em;
    height: 9em;
}

#pupil-container {
    width: 10em;
    height: 5em;
    overflow: hidden;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#pupil {
    width: 3em;
    height: 3em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#bb-img1,
#bb-img2,
#bb-img3 {
    width: 16em;
    margin-top: 5em;
    border: 5px solid black;
}

#bb-img1 {
    transform: skew(0deg, 5deg);
    transition: .5s;
}

#bb-img2 {
    transform: skew(0deg, 1deg);
    transition: .5s;
}

#bb-img3 {
    transform: skew(0deg, -5deg);
    transition: .5s;
}

#bb-img1:hover,
#bb-img2:hover,
#bb-img3:hover {
    transform: skew(0deg, 0deg);
    transition: .5s;
}

.bb:nth-child(2) {
    transition-delay: 200ms;
}

.bb:nth-child(3) {
    transition-delay: 400ms;
}

.bb:nth-child(4) {
    transition-delay: 600ms;
}



/****************/
/*  Uit elkaar  */
/****************/

#uitelkaar {
  background-image: url("../images/poster2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  margin-top: -4em;
  min-height: 120vh;
  overflow-x: hidden;
}

@media(max-width: 600px) {
  #uitelkaar {
    margin-top: 4em;
  }
}

.title {
  color: var(--main-color);
  margin-bottom: .3em;
  align-self: flex-start;
  font-size: 2.2rem;
}

.info-p {
  color: var(--main-color);
  max-width: 30em;
  margin-bottom: .5em;
  opacity: 100%;
  font-size: 1rem;
}

.proj-info p:last-of-type {
  margin-top: 1.3em;
  opacity: 70%;
  align-self: flex-start;
}

.proj-info {
  background-color: rgb(0,0,0,.85);
  width: fit-content;
  max-height: fit-content;
  padding: 2em 2em 1.2em 2em;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 560px) {
  .proj-info {
    margin: 0 .5em 0 .5em;
  }
}

#pijl {
  width: 1.7em;
  margin-top: 1em;
  cursor: pointer;
}

#schreeuw {
  width: fit-content;
  margin-inline: auto;
  margin-top: -6em;
  overflow-x: hidden;
  scroll-margin: 6em;
}

#schreeuw img:first-of-type {
  width: 22em;
  position: absolute;
  overflow-x: hidden;
}

#schreeuw img:nth-of-type(2) {
  width: 28em;
  position: absolute;
  overflow-x: hidden;
}

@media(max-width: 500px) {
  #schreeuw{
    margin-top: -1em;
  }

  #schreeuw img:first-of-type {
    width: 10em;
  }

  #schreeuw img:nth-of-type(2) {
    width: 13em;
  }
}

.proj-proces {
  margin-top: 40em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-color);
}

@media(max-width: 500px) {
  .proj-proces {
    margin-top: 25em;
  }
}

#h2-container {
  overflow-x: hidden;
}

#h2-uitelkaar {
  color: black;
  font-size: 10rem;
  white-space: nowrap;
  position: absolute;
}

@media (max-width: 560px) {
  #h2-uitelkaar {
    font-size: 4rem;
  }
}

#schets-img {
  margin-top: 15em;
  margin-bottom: 8em; 
  width: 45em;
}

@media(max-width: 500px) {
  #schets-img {
    margin-top: 8em;
  }
}

#schets-img2 {
  width: 25em;
  margin-bottom: 4em;
}

#poster-schets {
    width: 45em;
    margin-top: 5em;
    margin-bottom: 5em;
}

#posters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
  margin-top: 4em;
}

.poster {
  width: 25em;
}

#poster-resultaat {
  width: 50em;
}

@media (max-width: 560px) {
    #schets-img {
      width: 20em;
    }

    #schets-img2 {
      width: 15em;
    }

    #poster-schets {
      width: 20em;
    }

    .poster {
      width: 18em;
    }

    #poster-resultaat {
      width: 20em;
    }
}

.back-to-top {
  padding: 2em;
  text-transform: uppercase;
  opacity: 100%;
  cursor: pointer;
}





/************/
/*   Info   */
/************/

#info {
  background-color: var(--main-color);
}

#info header {
  background-image: linear-gradient(rgb(255,255,255,0.8)20%, rgb(255,255,255,0));
}